* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-switcher {
    width: 100vw;
    height: 100vh;
    background-image: url(images/background1.jpg);
    background-position: center center;
    background-size: cover;
}

nav {
    padding: 30px 60px 0px 0px;
     /*右よせ*/
    display: flex;
    justify-content: flex-end;
}

nav ul{
    /*横並びにする*/
    display: flex;
}

nav li{
    /*listの点を消す*/
    list-style: none;
}

nav a{
    color: #fff;
    font-size: 27px;
    font-family: 'Futura';
    padding-left: 30px;
    /*aタグの下線消す*/
    text-decoration: none;
    /*hoverの色変更ふわっと*/
    transition: 0.5s;
}

nav a:hover {
    color: #3D5CDB;
}

.title {
text-align: center;
margin-top: 170px;
}

.title img {
    width: 900px;
}

.title p {
    font-size: 45px;
    color: #ffffff;
    font-family: "Futura";
    font-style: italic;
    margin-top: 30px;
}

h2 {
    font-family: "Futura";
    color: #3d5cdb;
    text-align: center;
    font-size: 53px;
    padding: 40px;
    font-weight: bold;
}

.introduction-contents img {
    width: 500px;
}

.introduction-contents-a {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:40px;
}

.introduction-contents-b {
    display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:40px;
}


.contents-box-right {
    width: 500px;
  margin: 30px;
}

.contents-box-right p {
    color: #333333;
    line-height: 32px;
    margin: 0px 50px 20px;
    width: 400px;
}

.contents-box-left {
    width: 500px;
    margin: 30px;
}

.contents-box-left p {
    color: #333333;
    line-height: 32px;
    margin: 0px 50px 20px;
    width: 400px;
}

.introduction-contents a {
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 30px auto;
    width: 170px;
    height: 40px;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.contents-box-right a {
    background-color: #3d5cdb;
}

.contents-box-left a {
    background-color: #ffbf00;
}

.introduction-contents a:hover {
    box-shadow: #858c8e 0px 2px 15px 2px;
}
#courses{
background-color:#D3E4F7;
}

#courses h2 {
    z-index: 2;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    /*フレックスアイテムの折り返し*/
    flex-wrap: wrap;
}



@media (max-width:768px) {
    .course-contents{
        width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.course-contents {
    z-index: 2;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }



.course-box { 
    width: 240px;
  height: 340px;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px 10px 10px;
    padding: 30px;
    box-shadow: #6a8998 0px 1px 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*フレックスアイテムの配置方法、縦*/
    flex-direction: column;

}
.course-box-image {
    width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-box img {
    max-width: 100%;
    max-height: 100%;
    
}

.course-box p {
    font-size: 15px;
    color: #183c61;
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.course-box a {
    display: block;
    margin: 25px 5px 15px 5px;
    width: 170px;
    border-radius: 12px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
}

.course-box a-hover {
    box-shadow: #858c8e 0px 2px 15px 2px;
}

.html{
    background-color: #f16529;
}

.css {
    background-color: #29a9df;
}

.unity {
    background-color: #333333;
}

.ruby {
    background-color: #ff5252;
}

.javascript {
    background-color: #fed700;
}

.swift {
    background-color: #fe7536;
}

.go {
    background-color: #73cedd;
}

.course-contents-a {
    display: flex;
}

.course-contents-b {
    display: flex;
}
.gallery {
    margin-bottom: 50px;
  }
  
  .slider {
    margin: 30px auto;
    width: 80%;
  }
  
  .slider img {
    height: auto;
    width: 100%;
  }
  
  /*slick setting*/
  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }
  
  .slick-dots {
    bottom: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#access {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.access iframe {
    height: 400px;
  }

footer {
    text-align: center;
    font-family: "Futura";
    line-height: 60px;
    color: #3D5CDB;
}
